body {
    font-family: verdana;
    font-size: 12px;
    width: 100%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-size: 2.5em;
}

.nav-pills a {
    color: white;
}

.nav-pills a:active {
    background-color: yellow;
}